body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aliceblue;
    margin: 0;
}
.Calculator{
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px;
}
.display{
    background-color: bisque;
    color: brown;
    font-size: 1.35em;
    padding: 10px;
    border-radius: 20px;
    border: 20px;
    margin-bottom: 15px;
    text-align: right;
}